/* 全局样式表 */
html,
body,
#app{
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1200px
}
.el-header,
.el-main,
submittijiao {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

/* 引入字体*/
@font-face {
  font-family: FiraCode;
  src: url(../font/FiraCode-Regular-1.ttf);
}

.el-table .success-row {
  background:#d9f0c6;
}